<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
	<mapper namespace="info">

	    <resultMap id="infoMap" type="com.spring.info.vo.InfoVO">
	    	<result property="m_idx"	column="M_IDX"		javaType="int" />
	    	<result property="m_id"		column="M_ID"		javaType="string" />
	    	<result property="m_name"	column="M_NAME"		javaType="string" />
	    	<result property="m_pw"		column="M_PW"		javaType="string" />
	    	<result property="tel"		column="TEL"		javaType="string" />
	    	<result property="email"	column="EMAIL"		javaType="string" />
	    	<result property="lvl"		column="LVL"		javaType="int" />
	    </resultMap>
    
	    <select id="myInfo" statementType="CALLABLE"
	    	parameterType="hashmap" resultType="com.spring.info.vo.InfoVO">
	    	{CALL PKG_INFO.PROC_SER_INFO(
	    		#{m_id,		mode=IN,	jdbcType=VARCHAR},
	    		#{result,	mode=OUT,	jdbcType=CURSOR, javaType=ResultSet, resultMap=infoMap }
	    	)}
	    </select>
    
	    <select id="conInfo" statementType="CALLABLE"
	    	parameterType="hashmap" resultType="com.spring.info.vo.InfoVO">
	    	{CALL PKG_INFO.PROC_CON_INFO(
	    		#{m_id,		mode=IN,	jdbcType=VARCHAR},
	    		#{m_pw,		mode=IN,	jdbcType=VARCHAR},
	    		#{result,	mode=OUT,	jdbcType=CURSOR, javaType=ResultSet, resultMap=infoMap }
	    	)}
	    </select>
    
	    <update id="updateInfo" 
	        parameterType="hashmap">
	        
		    UPDATE MEM
			SET M_PW = #{m_pw},
				TEL = #{tel},
				EMAIL = #{email}
			WHERE M_ID = #{m_id}
				AND LVL = 1
			
			
	    </update>
	    
	    <delete id="deleteInfo" statementType="CALLABLE" 
	        parameterType="hashmap" >
		    {CALL PKG_INFO.PROC_DROP_INFO(
		    	#{m_id,		mode=IN,	jdbcType=VARCHAR} 	
		    )}   
	    </delete>
   
	</mapper>  
    