@charset "UTF-8";

body {
	margin: 0 auto;
	padding: 0;
}


.wrapRoomName {
	width: 100%;
	/* margin-bottom: 50px; */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #F2F2F2;
}

.roomName {
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}

.roomName .roomNameColor {
	color: #848484;
	text-decoration: none;
}

.picTitle {
	text-align: center;
}

.rImages {
	margin: 0 auto;
	margin-bottom: 50px;
	width: 40%;
	height: 350px;
	/* border: 1px dashed black; */
}

.rTable {
	margin: 0 auto;
	/* margin-bottom: 10px; */
	width: 80%;
	height: 140px;
	/* border: 1px dashed black; */
}

.roomDescription, .seasonPrice {
	border-collapse: collapse;
	border: 2px solid white;
	width: 100%;
	text-align: center;
	font-size: 16px;
}

td.tableTitle {
	/* background-color: #F2F2F2; */
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px lightgray, 0 0 5px darkblue;
}

tr, td {
	border: 1px solid white;
	width: 100px;
	height: 50px;
}

.wrapContent {
	position: absolute;
	top: 18%;
	left: 0%;
}

.bg, .bg-img {
	z-index: -2;
	filter: blur(5px);
    -webkit-filter: blur(5px);
    width: 100%;
    opacity: 0.9;
}

.carousel {
	z-index: 1;
	width: 50%;
	height: 50%;
	padding: 10px;
	
	border: 2px solid white;
}
 
.img-size {
	height: 100%;
}


.blurBox{
	position: absolute;
	z-index: -2;
	width: 80%;
	height: 30%;
	top: 85%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%);
	
	filter: blur(50px);
    -webkit-filter: blur(50px);
    
    background-color: white;
    opacity: 0.3;
}